.chatinputcontainer{
    display:grid;
    grid-template-columns: 5% 95%;
    align-items: center;
    background-color: #080420;
    padding:0 2rem;
    gap:5px;
    padding-bottom:0.3rem;
}
.button-container{
    display:flex;
    align-items: center;
    color:white;
    gap:1rem;
}
.emoji{
    position:relative;
    top:1px;
}
.emoji>svg{
    font-size:1.5rem;
    color:#ffff00c8;
    cursor:pointer;
}
.emoji-picker-react{
    position:absolute;
    top:-500px;
    background-color: #080420;
    box-sizing:0 5px 10px #9a86f3;
    border-color:#9186f3;
}
.emoji-picker-react>button{
    filter:contrast(0);
}
.input-container{
    width:100%;
    border-radius: 2rem;
    background-color: #ffffff34;
    display:flex;
    align-items: center;
    gap:2rem;
}
.input-container>input{
    width:90%;
    height:60%;
    background-color: transparent;
    color:white;
    border:none;
    padding-left:1rem;
    font-size:1.2rem;
    outline:none;
}
.input-container>input::selection{
    background-color: #9186f3;
}
.input-container>input:focus{
   outline:none;
}

.chatinputbutton{
    padding:0.3rem 2rem;
    border-radius: 2rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #9186f3;
    border:none;
}
.chatinputbutton>svg{
    font-size:2rem;
    color:white;
}
